.grid {
    margin: 0;
    margin-left: 10%;
    display: grid;
    margin-top: 95px;
    justify-content: center;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(2, 500px);
}

.project-card {
    background-color: #fff;
    height: 75%;
    width: 75%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
}

.project-card:hover {
    background-color: #0f2352;
    height: 73%;
    width: 73%;
}