
.nav-bar {
    background: #000;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 80px;
    cursor: default;
    

}
.logo{
    display: block;
    float: left;
    font-size: 40px;
    padding: 10px;
    color: #123524;
    margin-top: 10px;
    margin-left: 10px;

    &:hover{
        color: #fff;
    }
}

.links{
    display: block;
    padding: 10px;
    float: right;
    font-size: 35px;

    svg{
        padding: 20px;
        color: #123524;
        &:hover{
            color: #fff;
        }
    }
}
